<mat-card fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap='20px'>
  <div fxLayout='column' fxLayoutGap='4px'>
    <span>Poll: <strong>{{vote?.pollTitle}}</strong></span>
    <span>You vote: <strong>{{vote?.option}}</strong></span>
  </div>
  <div>
    <button mat-icon-button aria-label='edit' (click)='edit(vote)' matTooltip='Edit'>
      <mat-icon>mode_edit</mat-icon>
    </button>
    <button mat-icon-button aria-label='delete' (click)='delete(vote)' matTooltip='Delete'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
