<div fxLayout='column' fxLayoutAlign.gt-xs='space-around center'>
  <h3>Login</h3>
  <form [formGroup]='loginForm' fxLayout='column' fxLayoutAlign='start' class='form'>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type='email' matInput formControlName='email' placeholder='Ex. email@example.com'>
      <mat-error
        *ngIf='loginForm.controls["email"].hasError("email") || loginForm.controls["email"].hasError("pattern") && !loginForm.controls["email"].hasError("required")'>
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf='loginForm.controls["email"].hasError("required")'>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type='password' matInput formControlName='password' (keyup.enter)='login(loginForm)' >
      <mat-error *ngIf='loginForm.controls["password"].hasError("required")'>
        Please enter your password
      </mat-error>
      <mat-error *ngIf='loginForm.controls["password"].hasError("minlength") && !loginForm.controls["password"].hasError("required")'>
        Password must contain at least 6 characters
      </mat-error>
    </mat-form-field>
  </form>


  <div fxLayoutGap='8px' fxLayout='column' fxLayout.gt-xs='row'>
    <button mat-raised-button color='primary' [disabled]=!loginForm.valid (click)=login(loginForm)>login</button>
    <button mat-stroked-button color='primary' (click)=newAccount()>new account</button>
    <button mat-stroked-button color='primary' (click)=toDefaultModule()>keep anonymous</button>
  </div>
</div>
