<mat-card fxLayout='row' fxLayoutAlign='space-between center'>
  <span>{{poll?.title}}</span>
  <div fxLayout='row'>
    <button mat-icon-button aria-label='share' (click)='share(poll)' matTooltip='Share'>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button aria-label='vote' (click)='vote(poll)' matTooltip='Vote'>
      <mat-icon>how_to_vote</mat-icon>
    </button>
    <button mat-icon-button aria-label='Results' (click)='results(poll)' matTooltip='Results'>
      <mat-icon>bar_chart</mat-icon>
    </button>
    <div [matTooltip]="canEdit ? 'Edit' : 'Polls that are already voted can\'t be edited'">
      <button
        mat-icon-button
        aria-label='edit'
        (click)='edit(poll)'
        [disabled]='!canEdit'
      >
        <mat-icon>mode_edit</mat-icon>
      </button>
    </div>
    <button mat-icon-button aria-label='delete' (click)='delete(poll)' matTooltip='Delete'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
